// Color Variables

// theme colors
$c-primary: #8bc34a;
$c-secondary: #689f38;
$c-accent: #00bcd4;
$c-dark-accent: #0097a7;
$c-primary-text: #212121;
$c-secondary-text: #757575;

// common colors
$c-white: #fff;
$c-black: #000;
$c-danger: #d50000;

// grey palette
$c-grey-200: #EEEEEE;
$c-grey-300: #E0E0E0;
$c-grey-400: #BDBDBD;
$c-grey-500: #9E9E9E;
$c-grey-800: #424242;

$c-primary-contrast: $c-white;
$c-accent-contrast: $c-white;
