@import "~/scss/variables";

button, label, stack-layout {
  horizontal-align: center;
}

button {
  font-size: 36;
}

.title {
  font-size: 30;
  margin: 20;
  color: $c-primary-text;
}

.message {
  font-size: 20;
  text-align: center;
  margin: 0 20;
  color: $c-secondary-text;
}
